<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MBL</title>
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <% if(books) {%>
    <table>
        <tr>
            <th> Image</th>
            <th> Title</th>
            <th> Author</th>
            <th> ISBN</th>
            <th> rating</th>
            <th> completed</th>
        </tr>
        <% books.forEach(function(book) { %>
        <tr>
            <td><img src="https://covers.openlibrary.org/b/isbn/<%=book.isbn%>-M.jpg"></td>
            <td> <% if(book.book_title){%><%= book.book_title %> <%}%> </td>
            <td> <% if(book.author_name){%><%= book.author_name %> <%}%></td>
            <td> <% if(book.isbn){%><%= book.isbn %> <%}%></td>
            <td> <% if(book.rating){%><%= book.rating %>/10<%}%></td>
            <td> <% if(book.completed){%><%= book.completed %><%}%></td>
        </tr>
        <% }); %>
    <% }%>
</body>
