<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MBL</title>
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/login.css">
</head>
<header>
    <title>MBL</title>
</header>

<body>
    <h3>MBL</h3>
    <h1>Search</h1>
    <u1>
        <% if (recievedBooks) { %>
            <table>
                <tr>
                    <th>Image</th>
                    <th>Title</th>
                    <th>Author</th>
                    <th>ISBN</th>
                </tr>
                <% recievedBooks.forEach(function(book) { %>
                    <tr>
                        <form action="/book/<%=book.isbn%>" method="POST">
                            <section>
                                <td><img src="https://covers.openlibrary.org/b/isbn/<%=book.isbn%>-M.jpg"></td>
                                <td>
                                    <%=book.title %>
                                </td>
                                <td>
                                    <%=book.author %>
                                </td>
                                <td>
                                    <%=book.isbn %>
                                </td>
                            </section>
                            <td><button type="submit"> Rate Book</button></td>
                        </form>
                    </tr>
                    <% }); %>
                        <% } %>
            </table>
    </u1>
</body>

</html>